.container{
    width: 50%;
    margin: 50px 200px 50px 50px;
    padding: 100px 150px 100px 100px;
    font-family: "montserrat-medium", sans-serif;

}
.h4{
    text-transform: uppercase;
    color: antiquewhite;
}
.h1{
    font-size: 3.5rem;
    line-height: 1.25;
}
.a{
    color: white;
    width: 200px;
    height: 50px;
    padding: 15px 40px;
    margin-right: 40px;
    border: 2px solid white;
    text-transform: uppercase;
    font-size: smaller;
}
.a:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}
.welcome{
    display: flex;
    flex-direction: row;
}
.socials{
    margin: 250px -10px 0px 100px;
    line-height: 2;
    /* position: relative; */
    top: 35%;
    right: 5.4rem;
}