.container{
    width: 50%;
    margin: 50px 200px 50px 50px;
    padding: 100px 150px 100px 100px;
    font-family: "montserrat-medium", sans-serif;

}
.h3{
    text-transform: uppercase;
    font-weight: bold;
}
.h1{
    font-size: 3.5rem;
    line-height: 1.25;
}