.a{
    color: white;
    width: 200px;
    height: 50px;
    padding: 15px 40px;
    margin: 20px;
    border: 2px solid white;
    text-transform: uppercase;
    font-size: smaller;
}
.a:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}