.bigcontainer{
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 9rem;
    background-color: #645d72;
    color: #010507;
}
.subcontainer{
    margin: 100px;
}
.para{
    font-size: large;
    line-height: 2;
    color: lightgray;
}